.home {
  width: 100%;
  background: #f7ecdc;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-name {
  font-weight: 400;
  font-size: 50px;
  line-height: 59px;
  letter-spacing: 0.02em;
  color: #000000;
  margin: 5px;
}
.description {
  width: 42rem;
  margin: 5px;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #292929;
}

.e2e-container {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 95vh;
}

.e2e {
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;

  letter-spacing: 0.02em;

  color: #292929;
}
