.group {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  gap: 1rem;
  margin: 5px;
}

.icon {
  padding: 0.8rem;
  border-radius: 50%;
  text-align: center;
  font-size: 2rem;
  width: 70px;
  height: 70px;
  color: #ffffff;
}

.grp-title {
  font-weight: 500;
  font-size: 20.6702px;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: #000000;
}
